<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ANmol Assignment">
      <test name="ChromeBrowserTest" parallel="false">
  	<parameter name="browser" value="chrome" />
  	<parameter name="headless" value="false" />
      <classes>
     <class name="testcases.AssProjectProjectTestCases"/> 
    </classes>
  </test> <!-- Test -->
        <test name="FirefoxBrowserTest" parallel="false">
  	<parameter name="browser" value="firefox" />
  	<parameter name="headless" value="false" />
      <classes>
     <class name="testcases.AssProjectProjectTestCases"/> 
    </classes>
  </test>
</suite> <!-- Suite -->
